body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.example {
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 2px solid black;
}

#box1 {
    background-color: red;
    left: 50px;
    top: 50px;
    z-index: 1;
}

#box2 {
    background-color: blue;
    left: 100px;
    top: 100px;
    z-index: 2;
}

#box3 {
    background-color: green;
    left: 150px;
    top: 150px;
    z-index: 3;