* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    place-content: center;
}

div {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 6px solid #c5c5c5;
    border-top-color: rgb(58, 111, 210);
    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}