/* Use the Descendant combinator selector to remove list style type bullet points and text underlining of the
Menu list items. */
li a {
    text-decoration: none;
    list-style: none;
}


/* Use the child combinator to display the menu list item inline  */
ul>li {
    display: inline;
}

/* Use the Adjacent sibling combinator selector to apply some margin between the menu list items. */

li+li {
    margin: 20px;
}