* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(121, 203, 241);
    padding: 30px 0;
}

nav>ul {
    list-style: none;
    display: flex;
}

ul>li {
    margin-left: 50px;
}

a {
    color: white;
    font-size: 1.2em;
    transition: all 0.3s;
}


/* Nav links will change color on hover  */
a:hover {
    color: black;
}