.card {
    background-color: rgba(208, 203, 179, 0.862);
    padding: 10px 5px;
    height: 250px;
    display: flex;
    gap: 20px;

}

img {
    float: right;
    object-fit: cover;
    max-width: 30%;

}

.card-content {
    display: inline-block;

}